main.main-body {
    margin: 0 auto;
    width: 60%;
    padding: 25px 0px;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-gap: 20px;
    position: relative;

    .feed {
        .feed-write {
            width: 100%;
            margin-bottom: 20px;
            box-shadow: var(--box-shadow);
            border-radius: 5px;

            .feed-write-intro {
                background: var(--white-tint);
                padding: 15px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;
                transition: 0.3s;
                border-radius: 5px 5px 0px 0px;

                .feed-write-intro-img {
                    width: 45px;
                    height: 45px;
                    position: relative;
                    top: 2px;
                    overflow: hidden;
                    border-radius: 50px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .feed-write-intro-blink-text {
                    margin-left: 20px;

                    h1.feed-write-intro-text {
                        font-family: "Poppins", sans-serif;
                        font-size: 26px;
                        color: var(--feed-write-heading);
                    }
                }
            }

            .feed-write-intro:hover {
                background: var(--dirty-white);
            }

            .feed-write-topic {
                font-family: "Poppins", sans-serif;
                padding: 10px 15px;
                background: var(--main);
                position: relative;
                border-radius: 0px 0px 5px 5px;
                z-index: -1;
                top: 0px;
                display: flex;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
                overflow: hidden;
                // margin-bottom: -5px;

                span.feed-write-topic-sh {
                    color: var(--input-labels);
                    display: block;
                }

                ul.feed-write-topic-list {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-shrink: 0;
                    gap: 7.5px;

                    li.feed-write-topic-li {
                        padding: 5px 7px;
                        color: var(--topic-fg);
                        border-radius: 50px;
                        border: 1px solid var(--topic-fg);
                        transition: 0.5s;
                    }

                    li.feed-write-topic-li:hover {
                        padding: 5px 10px;
                    }
                }
            }
        }

        .feed-blog {

            .feed-tags {
                border-radius: 5px;
                background: var(--white-tint);
                box-shadow: var(--main-box-shadow);
                padding: 15px;
                margin-bottom: 20px;

                h2.feed-tags-heading {
                    font: 1.5 24px 'Poppins', sans-serif;
                    margin-bottom: 5px;
                    color: var(--text-main);
                }

                p.feed-tags-par {
                    font: 1.5 16px 'Roboto', sans-serif;
                    color: var(--par-main);
                }

                .feed-tags-topics {
                    margin-top: 20px;

                    .feed-tags-topics-container {
                        display: inline-block;
                        margin-bottom: 20px;

                        span[class^="feed-tags-topics-"] {
                            border-radius: 50px;
                            padding: 5px 10px;
                            border: 1px solid var(--main);
                            color: var(--text-main);
                            font: 16px 'Poppins', sans-serif;
                            transition: .3s;
                            cursor: pointer;
                            margin-right: 3px;
                        }
    
                        span[class^="feed-tags-topics-"]:hover {
                            background: var(--main);
                        }
                    }

                    .feed-tags-topics-container:last-child {
                        margin-bottom: 0px;
                    }
                }
            }

            .feed-blogs {
                border-radius: 5px;
                background: var(--white-tint);
                margin-bottom: 20px;

                .feed-blogs-header {
                    padding: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    a.feed-blogs-header-profile-link {
                        display: block;
                        width: fit-content;

                        .feed-blogs-header-user {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 20px;
    
                            .feed-blogs-header-user-img-container {
                                overflow: hidden;
                                width: 45px;
                                height: 45px;
                                position: relative;
                                border-radius: 50px;
                                top: 2px;
    
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
    
                            span.feed-blogs-header-user-name {
                                font: 18px 'Poppins', sans-serif;
    
                            }
                        }
                    }

                    .feed-blogs-menu-container {
                        position: relative;

                        ion-icon {
                            font-size: 24px;
                            cursor: pointer;
                            transition: .75s;
                        }
    
                        ion-icon:hover {
                            transform: rotate(180deg);
                        }

                        .feed-blogs-menu {
                            position: absolute;
                            top: calc(100% + 5px);
                            z-index: 5;
                            width: 100px;
                            background: var(--white-tint);
                            box-shadow: var(--box-shadow);

                            span.feed-blogs-menu-option {
                                font: 16px 'Roboto', sans-serif;
                                cursor: pointer;
                                padding: 10px;
                                transition: .3s;
                                display: block;
                                width: 100%;
                            }

                            span.feed-blogs-menu-option:hover {
                                background: var(--hover-grey-colour);
                            }
                        }
                    }

                }

                .feed-blogs-tnail {
                    height: 400px;
                    background: var(--thumbnail-bg);
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .feed-blogs-tnail-darken {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: var(--faded-black-tint);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        a.feed-blogs-tnail-link {
                            padding: 10px;
                            font: 18px 'Poppins', sans-serif;
                            background: var(--main);
                            border-radius: 5px;
                            width: 200px;
                            text-align: center;
                        }
                    }

                }

                .feed-blogs-desc {
                    padding: 15px;

                    h2.feed-blogs-desc-heading {
                        font: 24px 'Poppins', sans-serif;
                        line-height: 1.5;
                        width: fit-content;
                        color: var(--text-main);
                    }

                    p.feed-blogs-desc-par {
                        font: 16px 'Roboto', sans-serif;
                        line-height: 1.5;
                        width: fit-content;
                        margin: 5px 0px;
                    }

                    p.feed-blogs-desc-meta {
                        font: 14px 'Poppins', sans-serif;
                        color: var(--par-main);
                    }
                }
            }
        }
    }

    .user-container {
        position: relative;

        .user-container-main {
            position: sticky;
            top: 80px; // fixed value of positioning, fixed on scroll
            left: 0;

            .user {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                background: var(--white-tint);
                border-radius: 5px;
                padding: 10px;
                box-shadow: var(--box-shadow);

                .user-img-container {
                    flex-basis: 45px;
                    height: 45px;
                    position: relative;
                    overflow: hidden;
                    border-radius: 50px;
                    top: 2px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .user-name-container {
                    display: flex;
                    flex-direction: column;
                    font-family: "Montserrat", sans-serif;
                    font-size: 14px;

                    span.user-real-name {
                        font-weight: 800;
                        color: var(--text-main);
                    }

                    span.user-user-name {
                        color: var(--feed-write-heading);
                    }
                }
            }
        }
    }
}

.blog-create-modal,
.report-modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: var(--modal-bg);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    form.blog-create-modal-form,
    form.report-modal-form {
        background: var(--white-tint);
        padding: 30px;
        width: 30%;
        border-radius: 5px;

        h2.blog-create-modal-form-heading,
        h2.report-modal-form-heading {
            font-size: 28px;
            color: var(--topic-fg);
            font-family: "Poppins", sans-serif;
            margin-bottom: 10px;
        }

        .blog-create-modal-form-input-field,
        .report-modal-form-input-field {
            position: relative;
            margin-bottom: 10px;
            width: 100%;

            label.text-input-labels {
                position: absolute;
                top: 5px;
                left: 5px;
                font-size: 10px;
                text-transform: uppercase;
                color: var(--input-labels);
                letter-spacing: 1px;
                font-family: "Roboto", sans-serif;
            }

            label.image-input {
                width: 100%;
                display: block;
                background: var(--thumbnail-bg);
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 25px 0px;
                margin-bottom: 15px;

                .image-input-container {
                    width: fit-content;
                    height: 150px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        cursor: pointer;
                    }
                }
            }

            input,
            textarea,
            select {
                width: 100%;
                padding: 10px;
                font-size: 16px;
                border-radius: 5px;
                font-family: "Poppins", sans-serif;
            }

            input[type="file"] {
                border: none;
                display: none;
            }

            textarea {
                height: 150px;
                resize: none;
            }
        }

        .blog-create-modal-form-input-field:last-child,
        .report-modal-form-input-field:last-child {
            margin-bottom: 0;
        }

        .blog-create-modal-form-input-field-btn,
        .report-modal-form-input-field-btn {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            input[type="submit"],
            button {
                padding: 10px;
                font-size: 16px;
                border-radius: 5px;
                color: var(--text-main);
                cursor: pointer;
            }

            input[type="submit"] {
                margin-left: 5px;
                border: 1px solid var(--main);
                background: var(--main);
            }

            button {
                background: var(--error-tint);
                border: 1px solid var(--error-tint);
                color: var(--white-tint);
            }
        }
    }
}
