main.main-body {
  margin: 0 auto;
  width: 60%;
  padding: 25px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 1fr;
      grid-template-columns: 70% 1fr;
  grid-gap: 20px;
  position: relative;
}

main.main-body .feed .feed-write {
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-radius: 5px;
}

main.main-body .feed .feed-write .feed-write-intro {
  background: var(--white-tint);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px 5px 0px 0px;
}

main.main-body .feed .feed-write .feed-write-intro .feed-write-intro-img {
  width: 45px;
  height: 45px;
  position: relative;
  top: 2px;
  overflow: hidden;
  border-radius: 50px;
}

main.main-body .feed .feed-write .feed-write-intro .feed-write-intro-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main.main-body .feed .feed-write .feed-write-intro .feed-write-intro-blink-text {
  margin-left: 20px;
}

main.main-body .feed .feed-write .feed-write-intro .feed-write-intro-blink-text h1.feed-write-intro-text {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  color: var(--feed-write-heading);
}

main.main-body .feed .feed-write .feed-write-intro:hover {
  background: var(--dirty-white);
}

main.main-body .feed .feed-write .feed-write-topic {
  font-family: "Poppins", sans-serif;
  padding: 10px 15px;
  background: var(--main);
  position: relative;
  border-radius: 0px 0px 5px 5px;
  z-index: -1;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
}

main.main-body .feed .feed-write .feed-write-topic span.feed-write-topic-sh {
  color: var(--input-labels);
  display: block;
}

main.main-body .feed .feed-write .feed-write-topic ul.feed-write-topic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  gap: 7.5px;
}

main.main-body .feed .feed-write .feed-write-topic ul.feed-write-topic-list li.feed-write-topic-li {
  padding: 5px 7px;
  color: var(--topic-fg);
  border-radius: 50px;
  border: 1px solid var(--topic-fg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main.main-body .feed .feed-write .feed-write-topic ul.feed-write-topic-list li.feed-write-topic-li:hover {
  padding: 5px 10px;
}

main.main-body .feed .feed-blog .feed-tags {
  border-radius: 5px;
  background: var(--white-tint);
  -webkit-box-shadow: var(--main-box-shadow);
          box-shadow: var(--main-box-shadow);
  padding: 15px;
  margin-bottom: 20px;
}

main.main-body .feed .feed-blog .feed-tags h2.feed-tags-heading {
  font: 1.5 24px 'Poppins', sans-serif;
  margin-bottom: 5px;
  color: var(--text-main);
}

main.main-body .feed .feed-blog .feed-tags p.feed-tags-par {
  font: 1.5 16px 'Roboto', sans-serif;
  color: var(--par-main);
}

main.main-body .feed .feed-blog .feed-tags .feed-tags-topics {
  margin-top: 20px;
}

main.main-body .feed .feed-blog .feed-tags .feed-tags-topics .feed-tags-topics-container {
  display: inline-block;
  margin-bottom: 20px;
}

main.main-body .feed .feed-blog .feed-tags .feed-tags-topics .feed-tags-topics-container span[class^="feed-tags-topics-"] {
  border-radius: 50px;
  padding: 5px 10px;
  border: 1px solid var(--main);
  color: var(--text-main);
  font: 16px 'Poppins', sans-serif;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  margin-right: 3px;
}

main.main-body .feed .feed-blog .feed-tags .feed-tags-topics .feed-tags-topics-container span[class^="feed-tags-topics-"]:hover {
  background: var(--main);
}

main.main-body .feed .feed-blog .feed-tags .feed-tags-topics .feed-tags-topics-container:last-child {
  margin-bottom: 0px;
}

main.main-body .feed .feed-blog .feed-blogs {
  border-radius: 5px;
  background: var(--white-tint);
  margin-bottom: 20px;
}

main.main-body .feed .feed-blog .feed-blogs .feed-blogs-header {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.main-body .feed .feed-blog .feed-blogs .feed-blogs-header a.feed-blogs-header-profile-link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main.main-body .feed .feed-blog .feed-blogs .feed-blogs-header a.feed-blogs-header-profile-link .feed-blogs-header-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

main.main-body .feed .feed-blog .feed-blogs .feed-blogs-header a.feed-blogs-header-profile-link .feed-blogs-header-user .feed-blogs-header-user-img-container {
  overflow: hidden;
  width: 45px;
  height: 45px;
  position: relative;
  border-radius: 50px;
  top: 2px;
}

main.main-body .feed .feed-blog .feed-blogs .feed-blogs-header a.feed-blogs-header-profile-link .feed-blogs-header-user .feed-blogs-header-user-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main.main-body .feed .feed-blog .feed-blogs .feed-blogs-header a.feed-blogs-header-profile-link .feed-blogs-header-user span.feed-blogs-header-user-name {
  font: 18px 'Poppins', sans-serif;
}

main.main-body .feed .feed-blog .feed-blogs .feed-blogs-header ion-icon {
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

main.main-body .feed .feed-blog .feed-blogs .feed-blogs-header ion-icon:hover {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

main.main-body .feed .feed-blog .feed-blogs .feed-blogs-tnail {
  height: 400px;
  background: var(--thumbnail-bg);
  position: relative;
}

main.main-body .feed .feed-blog .feed-blogs .feed-blogs-tnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main.main-body .feed .feed-blog .feed-blogs .feed-blogs-tnail .feed-blogs-tnail-darken {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--faded-black-tint);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.main-body .feed .feed-blog .feed-blogs .feed-blogs-tnail .feed-blogs-tnail-darken a.feed-blogs-tnail-link {
  padding: 10px;
  font: 18px 'Poppins', sans-serif;
  background: var(--main);
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

main.main-body .feed .feed-blog .feed-blogs .feed-blogs-desc {
  padding: 15px;
}

main.main-body .feed .feed-blog .feed-blogs .feed-blogs-desc h2.feed-blogs-desc-heading {
  font: 24px 'Poppins', sans-serif;
  line-height: 1.5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--text-main);
}

main.main-body .feed .feed-blog .feed-blogs .feed-blogs-desc p.feed-blogs-desc-par {
  font: 16px 'Roboto', sans-serif;
  line-height: 1.5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px 0px;
}

main.main-body .feed .feed-blog .feed-blogs .feed-blogs-desc p.feed-blogs-desc-meta {
  font: 14px 'Poppins', sans-serif;
  color: var(--par-main);
}

main.main-body .user-container {
  position: relative;
}

main.main-body .user-container .user-container-main {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  left: 0;
}

main.main-body .user-container .user-container-main .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background: var(--white-tint);
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

main.main-body .user-container .user-container-main .user .user-img-container {
  -ms-flex-preferred-size: 45px;
      flex-basis: 45px;
  height: 45px;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  top: 2px;
}

main.main-body .user-container .user-container-main .user .user-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main.main-body .user-container .user-container-main .user .user-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

main.main-body .user-container .user-container-main .user .user-name-container span.user-real-name {
  font-weight: 800;
  color: var(--text-main);
}

main.main-body .user-container .user-container-main .user .user-name-container span.user-user-name {
  color: var(--feed-write-heading);
}

.blog-create-modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: var(--modal-bg);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-create-modal form.blog-create-modal-form {
  background: var(--white-tint);
  padding: 30px;
  width: 30%;
  border-radius: 5px;
}

.blog-create-modal form.blog-create-modal-form h2.blog-create-modal-form-heading {
  font-size: 28px;
  color: var(--topic-fg);
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.blog-create-modal form.blog-create-modal-form .blog-create-modal-form-input-field {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.blog-create-modal form.blog-create-modal-form .blog-create-modal-form-input-field label.text-input-labels {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 10px;
  text-transform: uppercase;
  color: var(--input-labels);
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}

.blog-create-modal form.blog-create-modal-form .blog-create-modal-form-input-field label.image-input {
  width: 100%;
  display: block;
  background: var(--thumbnail-bg);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0px;
  margin-bottom: 15px;
}

.blog-create-modal form.blog-create-modal-form .blog-create-modal-form-input-field label.image-input .image-input-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 150px;
}

.blog-create-modal form.blog-create-modal-form .blog-create-modal-form-input-field label.image-input .image-input-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.blog-create-modal form.blog-create-modal-form .blog-create-modal-form-input-field input,
.blog-create-modal form.blog-create-modal-form .blog-create-modal-form-input-field textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.blog-create-modal form.blog-create-modal-form .blog-create-modal-form-input-field input[type="file"] {
  border: none;
  display: none;
}

.blog-create-modal form.blog-create-modal-form .blog-create-modal-form-input-field textarea {
  height: 150px;
}

.blog-create-modal form.blog-create-modal-form .blog-create-modal-form-input-field:last-child {
  margin-bottom: 0;
}

.blog-create-modal form.blog-create-modal-form .blog-create-modal-form-input-field-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-create-modal form.blog-create-modal-form .blog-create-modal-form-input-field-btn input[type="submit"],
.blog-create-modal form.blog-create-modal-form .blog-create-modal-form-input-field-btn button.cancel-btn {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  color: var(--text-main);
  cursor: pointer;
}

.blog-create-modal form.blog-create-modal-form .blog-create-modal-form-input-field-btn input[type="submit"] {
  margin-left: 5px;
  border: 1px solid var(--main);
  background: var(--main);
}

.blog-create-modal form.blog-create-modal-form .blog-create-modal-form-input-field-btn button.cancel-btn {
  background: var(--error-tint);
  border: 1px solid var(--error-tint);
  color: var(--white-tint);
}
/*# sourceMappingURL=feed.css.map */