main.main-settings {
  margin: 25px auto;
  width: 60%;
  position: relative;
}

main.main-settings .main-settings-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 1fr;
      grid-template-columns: 25% 1fr;
}

main.main-settings .main-settings-container > section {
  padding: 25px;
  border: 1px solid var(--form-element-border);
  background: var(--white-tint);
}

main.main-settings .main-settings-container section.main-settings-tabs ul.tabs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.main-settings .main-settings-container section.main-settings-tabs ul.tabs-list a.tabs-list-li-link {
  padding: 10px;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

main.main-settings .main-settings-container section.main-settings-tabs ul.tabs-list a.tabs-list-li-link li.tabs-list-li {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

main.main-settings .main-settings-container section.main-settings-tabs ul.tabs-list a.tabs-list-li-link:hover {
  background: var(--body-shade);
}

main.main-settings .main-settings-container section.main-settings-field {
  border-left: none;
  height: 100vh;
}

main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-img,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-username,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-name,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-bio,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-link,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-email,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-save-btn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  margin-bottom: 25px;
}

main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-img .edit-profile-img-container,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-username .edit-profile-img-container,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-name .edit-profile-img-container,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-bio .edit-profile-img-container,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-link .edit-profile-img-container,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-email .edit-profile-img-container,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-save-btn .edit-profile-img-container {
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
  border-radius: 50px;
}

main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-img .edit-profile-img-container img,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-username .edit-profile-img-container img,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-name .edit-profile-img-container img,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-bio .edit-profile-img-container img,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-link .edit-profile-img-container img,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-email .edit-profile-img-container img,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-save-btn .edit-profile-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-img .edit-profile-input-field,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-username .edit-profile-input-field,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-name .edit-profile-input-field,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-bio .edit-profile-input-field,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-link .edit-profile-input-field,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-email .edit-profile-input-field,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-save-btn .edit-profile-input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-img .edit-profile-input-field span.edit-profile-img-username,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-username .edit-profile-input-field span.edit-profile-img-username,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-name .edit-profile-input-field span.edit-profile-img-username,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-bio .edit-profile-input-field span.edit-profile-img-username,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-link .edit-profile-input-field span.edit-profile-img-username,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-email .edit-profile-input-field span.edit-profile-img-username,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-save-btn .edit-profile-input-field span.edit-profile-img-username {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  color: var(--text-main);
}

main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-img .edit-profile-input-field label,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-username .edit-profile-input-field label,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-name .edit-profile-input-field label,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-bio .edit-profile-input-field label,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-link .edit-profile-input-field label,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-email .edit-profile-input-field label,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-save-btn .edit-profile-input-field label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  cursor: pointer;
  color: var(--sub-main);
}

main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-img small.edit-profile-note,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-username small.edit-profile-note,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-name small.edit-profile-note,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-bio small.edit-profile-note,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-link small.edit-profile-note,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-email small.edit-profile-note,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-save-btn small.edit-profile-note {
  display: block;
  margin-top: 5px;
  font: 12px 'Roboto', sans-serif;
  color: var(--note-colour);
}

main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-img input[type="submit"],
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-username input[type="submit"],
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-name input[type="submit"],
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-bio input[type="submit"],
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-link input[type="submit"],
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-email input[type="submit"],
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-save-btn input[type="submit"] {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  font: 14px 'Roboto', sans-serif;
  width: 100px;
  padding: 10px;
  background: var(--main);
  border: 1px solid var(--main);
  -webkit-transition: .2s;
  transition: .2s;
}

main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-img input[type="submit"]:hover,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-username input[type="submit"]:hover,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-name input[type="submit"]:hover,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-bio input[type="submit"]:hover,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-link input[type="submit"]:hover,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-email input[type="submit"]:hover,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-save-btn input[type="submit"]:hover {
  background: var(--trans-main);
}

main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-name label.edit-profile-label,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-username label.edit-profile-label,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-bio label.edit-profile-label,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-link label.edit-profile-label,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-email label.edit-profile-label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-end;
  font: 14px 'Poppins', sans-serif;
}

main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-name .edit-profile-input,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-username .edit-profile-input,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-bio .edit-profile-input,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-link .edit-profile-input,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-email .edit-profile-input {
  padding: 5px 10px;
  font: 14px 'Poppins', sans-serif;
}

main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-name textarea,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-username textarea,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-bio textarea,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-link textarea,
main.main-settings .main-settings-container section.main-settings-field form.main-settings-edit-profile .edit-profile-email textarea {
  resize: none;
  height: 100px;
}
/*# sourceMappingURL=settings.css.map */