main.main-blog {
  margin: 30px auto;
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 1fr;
      grid-template-columns: 70% 1fr;
  grid-gap: 30px;
}

main.main-blog section.blog-content .blog-content-container {
  background: var(--white-tint);
  border: none;
  -webkit-box-shadow: var(--main-box-shadow);
          box-shadow: var(--main-box-shadow);
}

main.main-blog section.blog-content .blog-content-container img.blog-content-container-img {
  width: 100%;
  margin-bottom: 10px;
}

main.main-blog section.blog-content .blog-content-container .elem {
  padding: 0 15px;
  outline: 0;
  width: 100%;
}

main.main-blog section.blog-content .blog-content-container .elem:first-child {
  padding-top: 10px;
}

main.main-blog section.blog-content .blog-content-container .elem:last-child {
  padding-bottom: 10px;
}

main.main-blog section.blog-content .blog-content-container h2.heading-element {
  font-size: 48px;
  color: var(--text-main);
  margin-bottom: 10px;
}

main.main-blog section.blog-content .blog-content-container p.paragraph-element {
  font-size: 18px;
  margin-bottom: 15px;
}

main.main-blog section.blog-content .blog-content-container .heart-icon-container {
  margin: 50px 0px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.main-blog section.blog-content .blog-content-container .heart-icon-container svg.heart-icon,
main.main-blog section.blog-content .blog-content-container .heart-icon-container svg.heart-icon-2 {
  color: var(--error-tint);
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}

main.main-blog section.blog-content .blog-content-container .heart-icon-container svg.heart-icon > path,
main.main-blog section.blog-content .blog-content-container .heart-icon-container svg.heart-icon-2 > path {
  cursor: pointer;
}

main.main-blog section.blog-content .blog-comment {
  margin-top: 30px;
  background: var(--white-tint);
  padding: 10px 15px;
  border: none;
  -webkit-box-shadow: var(--main-box-shadow);
          box-shadow: var(--main-box-shadow);
}

main.main-blog section.blog-content .blog-comment h2.blog-comment-heading {
  color: var(--text-main);
}

main.main-blog section.blog-content .blog-comment form.blog-comment-form {
  margin-top: 5px;
}

main.main-blog section.blog-content .blog-comment form.blog-comment-form .blog-comment-input-field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

main.main-blog section.blog-content .blog-comment form.blog-comment-form .blog-comment-input-field > textarea {
  width: 100%;
  padding: 10px;
  height: 75px;
  font: 16px 'Poppins', sans-serif;
}

main.main-blog section.blog-content .blog-comment form.blog-comment-form .blog-comment-input-field > input[type="submit"] {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid var(--main);
  background: var(--main);
  padding: 10px;
  font: 16px 'Roboto', sans-serif;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main.main-blog section.blog-content .blog-comment .blog-comments-container {
  margin-top: 10px;
}

main.main-blog section.blog-content .blog-comment .blog-comments-container ul.blog-comments-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

main.main-blog section.blog-content .blog-comment .blog-comments-container ul.blog-comments-list li[class^="blog-comments-li-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
}

main.main-blog section.blog-content .blog-comment .blog-comments-container ul.blog-comments-list li[class^="blog-comments-li-"] .blog-comments-li-user-img {
  -ms-flex-preferred-size: 45px;
      flex-basis: 45px;
  height: 45px;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  top: 2px;
}

main.main-blog section.blog-content .blog-comment .blog-comments-container ul.blog-comments-list li[class^="blog-comments-li-"] .blog-comments-li-user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main.main-blog section.blog-content .blog-comment .blog-comments-container ul.blog-comments-list li[class^="blog-comments-li-"] .blog-comments-li-user-comm {
  width: 100%;
}

main.main-blog section.blog-content .blog-comment .blog-comments-container ul.blog-comments-list li[class^="blog-comments-li-"] .blog-comments-li-user-comm > span {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font: 14px 'Poppins', sans-serif;
  color: var(--text-main);
}

main.main-blog section.blog-content .blog-comment .blog-comments-container ul.blog-comments-list li[class^="blog-comments-li-"] .blog-comments-li-user-comm span.blog-comments-li-user-name {
  font-weight: 600;
  letter-spacing: 0.5px;
}

main.main-blog section.user-content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

main.main-blog section.user-content .user-content-main {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  left: 0;
}

main.main-blog section.user-content .user-content-main .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background: var(--white-tint);
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

main.main-blog section.user-content .user-content-main .user .user-img-container {
  -ms-flex-preferred-size: 45px;
      flex-basis: 45px;
  height: 45px;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  top: 2px;
}

main.main-blog section.user-content .user-content-main .user .user-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main.main-blog section.user-content .user-content-main .user .user-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

main.main-blog section.user-content .user-content-main .user .user-name-container span.user-real-name {
  font-weight: 800;
  color: var(--text-main);
}

main.main-blog section.user-content .user-content-main .user .user-name-container span.user-user-name {
  color: var(--feed-write-heading);
}

main.main-blog section.user-content .user-content-main .user-bio,
main.main-blog section.user-content .user-content-main .user-url {
  margin-top: 20px;
}

main.main-blog section.user-content .user-content-main .user-bio .user-bio-label,
main.main-blog section.user-content .user-content-main .user-bio .user-url-label,
main.main-blog section.user-content .user-content-main .user-url .user-bio-label,
main.main-blog section.user-content .user-content-main .user-url .user-url-label {
  display: block;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
  font-size: 10px;
  color: var(--feed-write-heading);
  text-transform: uppercase;
  letter-spacing: 1px;
}

main.main-blog section.user-content .user-content-main .user-bio .user-bio-text,
main.main-blog section.user-content .user-content-main .user-bio .user-url-text,
main.main-blog section.user-content .user-content-main .user-url .user-bio-text,
main.main-blog section.user-content .user-content-main .user-url .user-url-text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: var(--text-main);
}

main.main-blog section.user-content .user-content-main .user-bio .user-url-text,
main.main-blog section.user-content .user-content-main .user-url .user-url-text {
  color: var(--sub-main);
}
/*# sourceMappingURL=view.css.map */