main.main-blog {
    margin: 30px auto;
    width: 60%;
    display: grid;
    grid-template-columns: 70% 1fr; // set a grid display
    grid-gap: 30px;

    section.blog-content {

        .blog-content-container {
            background: var(--white-tint);
            border: none;
            box-shadow: var(--main-box-shadow);

            // styles for appended elements when viewing blog
            img.blog-content-container-img {
                width: 100%;
                margin-bottom: 10px;
            }

            .elem {
                padding: 0 15px;
                outline: 0;
                width: 100%;
            }

            .elem:first-child {
                padding-top: 10px;
            }

            .elem:last-child {
                padding-bottom: 10px;
            }
    
            h2.heading-element {
                font-size: 48px;
                color: var(--text-main);
                margin-bottom: 10px;
            }
    
            p.paragraph-element {
                font-size: 18px;
                margin-bottom: 15px;
            }

            // like button styles
            .heart-icon-container {
                margin: 50px 0px;
                padding: 0 15px;
                display: flex;

                svg.heart-icon,
                svg.heart-icon-2 {
                    // red tint #EE5757
                    color: var(--error-tint);
                    display: block;
                    transition: .3s;
                    width: 35px;
                    height: 35px;
                    margin-bottom: 10px;
    
                    > path {
                        cursor: pointer;
                    }
                }
            }

        }

        // styles for comment sections
        .blog-comment {
            margin-top: 30px;
            background: var(--white-tint);
            padding: 10px 15px;
            border: none;
            box-shadow: var(--main-box-shadow);

            h2.blog-comment-heading {
                color: var(--text-main);
            }

            form.blog-comment-form {
                margin-top: 5px;

                .blog-comment-input-field {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    > textarea {
                        width: 100%;
                        padding: 10px;
                        height: 75px;
                        font: 16px 'Poppins', sans-serif;
                    }

                    > input[type="submit"] {
                        display: block;
                        width: fit-content;
                        border: 1px solid var(--main);
                        background: var(--main);
                        padding: 10px;
                        font: 16px 'Roboto', sans-serif;
                        align-self: flex-end;
                    }
                }
            }

            .blog-comments-container {
                margin-top: 10px;

                ul.blog-comments-list {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    // style list elements with class starting with 'blog-comments-li'
                    li[class^="blog-comments-li-"] {
                        display: flex;
                        justify-content: flex-start;
                        gap: 15px;
                        
                        .blog-comments-li-user-img {
                            flex-basis: 45px;
                            height: 45px;
                            position: relative;
                            overflow: hidden;
                            border-radius: 50px;
                            top: 2px;
        
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .blog-comments-li-user-comm {
                            width: 100%;

                            // apply style to all span elements
                            > span {
                                display: block;
                                width: fit-content;
                                font: 14px 'Poppins', sans-serif;
                                color: var(--text-main);
                            }

                            span.blog-comments-li-user-name {
                                font-weight: 600;
                                letter-spacing: 0.5px;
                            }
                        }
                    }
                }
            }
        }
    }

    // place section to a specific spot
    section.user-content {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        .user-content-main {
            position: sticky;
            top: 80px; // fixed value of positioning, fixed on scroll
            left: 0;

            .user {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                background: var(--white-tint);
                border-radius: 10px;
                padding: 10px;
                box-shadow: var(--box-shadow);

                .user-img-container {
                    flex-basis: 45px;
                    height: 45px;
                    position: relative;
                    overflow: hidden;
                    border-radius: 50px;
                    top: 2px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .user-name-container {
                    display: flex;
                    flex-direction: column;
                    font-family: "Montserrat", sans-serif;
                    font-size: 14px;

                    span.user-real-name {
                        font-weight: 800;
                        color: var(--text-main);
                    }

                    span.user-user-name {
                        color: var(--feed-write-heading);
                    }
                }
            }

            // right aside containing user details
            .user-bio,
            .user-url {
                margin-top: 20px;

                .user-bio-label,
                .user-url-label {
                    display: block;
                    font-family: 'Roboto', sans-serif;
                    margin-bottom: 5px;
                    font-size: 10px;
                    color: var(--feed-write-heading);
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }

                .user-bio-text,
                .user-url-text {
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    color: var(--text-main);
                }

                .user-url-text {
                    color: var(--sub-main);
                }
            }
        }
    }
}