section.users {
    width: 100%;
    height: fit-content;
    margin-bottom: 35px;

    .users-heading-text {

        h2.users-heading {
            font: 60px 'Poppins', sans-serif;
            color: var(--text-main);
        }

        p.users-text {
            font: 18px 'Montserrat', sans-serif;
            color: var(--par-main);
            line-height: 1.5;
            margin-bottom: 20px;
        }

        input.users-search,
        button {
            padding: 10px;
            width: 400px;
            font: 18px 'Poppins', sans-serif;
            color: var(--text-main);
        }

        button {
            width: fit-content;
            color: var(--text-main);
            background: var(--main);
            border: 1px solid var(--main);
        }
    }
}

section.all-users {

    .all-users-labels {
        display: grid;
        grid-template-columns: 10% 20% 20% 20% 20% 10%;
        border-bottom: 1px solid var(--form-element-border);
        padding: 5px 10px;

        span[class^="all-users-"] {
            text-transform: uppercase;
            letter-spacing: 1px;
            color: var(--input-labels);
            font: 10px 'Montserrat', sans-serif;
        }
    }

    ul.all-users-list {

        li.all-users-list-li {
            display: grid;
            grid-template-columns: 10% 20% 20% 20% 20% 10%;
            align-items: center;
            padding: 20px 10px;
            transition: .2s;
            
            span[class^="users-"] {
                font: 14px 'Poppins', sans-serif;
            }

            span.users-utility {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 5px;

                button {
                    cursor: pointer;
                    font-size: 16px;
                    padding: 5px;
                    border: none;
                    box-shadow: var(--box-shadow);
                    border-radius: 5px;

                    ion-icon {
                        position: relative;
                        top: 2px;
                        color: var(--text-main);
                    }
                }

                .users-edit-btn {
                    background: var(--white-tint);
                }

                .users-delete-btn {
                    background: var(--error-tint);
                    
                    ion-icon {
                        color: var(--white-tint);
                    }
                }
            }
        }

        li.all-users-list-li:hover {
            background: var(--main);
        }
    }
}

.edit-modal {
    width: calc(100% + 25px);
    height: 100vh;
    background: var(--faded-black-tint);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;

    form.edit-modal-form {
        background: var(--white-tint);
        padding: 25px;
        width: 35%;

        h2.edit-modal-form-heading {
            margin-bottom: 10px;
            color: var(--text-main);
            font: 36px 'Poppins', sans-serif;
        }

        .edit-modal-input-field {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            label {
                color: var(--input-labels);
                font: 10px 'Roboto', sans-serif;
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            input[type="text"] {
                width: 100%;
                font: 16px 'Poppins', sans-serif;
                padding: 10px;
            }
        }

        .edit-input-btn {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            display: flex;
            gap: 5px;

            button, input {
                width: fit-content;
                padding: 10px;
                font: 14px 'Poppins', sans-serif;
                border: none;
                cursor: pointer;
            }

            button[type="button"] {
                background: var(--error-tint);
                color: var(--white-tint);
            }

            input[type="submit"] {
                background: var(--main);
            }
        }
    
        .input-field-name {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;

            .edit-modal-input-field {
                flex-basis: 50%;
            }
        }
    }

}