section.users {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 35px;
}

section.users .users-heading-text h2.users-heading {
  font: 60px 'Poppins', sans-serif;
  color: var(--text-main);
}

section.users .users-heading-text p.users-text {
  font: 18px 'Montserrat', sans-serif;
  color: var(--par-main);
  line-height: 1.5;
  margin-bottom: 20px;
}

section.users .users-heading-text input.users-search,
section.users .users-heading-text button {
  padding: 10px;
  width: 400px;
  font: 18px 'Poppins', sans-serif;
  color: var(--text-main);
}

section.users .users-heading-text button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--text-main);
  background: var(--main);
  border: 1px solid var(--main);
}

section.all-users .all-users-labels {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 20% 20% 20% 20% 10%;
      grid-template-columns: 10% 20% 20% 20% 20% 10%;
  border-bottom: 1px solid var(--form-element-border);
  padding: 5px 10px;
}

section.all-users .all-users-labels span[class^="all-users-"] {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--input-labels);
  font: 10px 'Montserrat', sans-serif;
}

section.all-users ul.all-users-list li.all-users-list-li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 20% 20% 20% 20% 10%;
      grid-template-columns: 10% 20% 20% 20% 20% 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px;
  -webkit-transition: .2s;
  transition: .2s;
}

section.all-users ul.all-users-list li.all-users-list-li span[class^="users-"] {
  font: 14px 'Poppins', sans-serif;
}

section.all-users ul.all-users-list li.all-users-list-li span.users-utility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

section.all-users ul.all-users-list li.all-users-list-li span.users-utility button {
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  border: none;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-radius: 5px;
}

section.all-users ul.all-users-list li.all-users-list-li span.users-utility button ion-icon {
  position: relative;
  top: 2px;
  color: var(--text-main);
}

section.all-users ul.all-users-list li.all-users-list-li span.users-utility .users-edit-btn {
  background: var(--white-tint);
}

section.all-users ul.all-users-list li.all-users-list-li span.users-utility .users-delete-btn {
  background: var(--error-tint);
}

section.all-users ul.all-users-list li.all-users-list-li span.users-utility .users-delete-btn ion-icon {
  color: var(--white-tint);
}

section.all-users ul.all-users-list li.all-users-list-li:hover {
  background: var(--main);
}

.edit-modal {
  width: calc(100% + 25px);
  height: 100vh;
  background: var(--faded-black-tint);
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 50px;
}

.edit-modal form.edit-modal-form {
  background: var(--white-tint);
  padding: 25px;
  width: 35%;
}

.edit-modal form.edit-modal-form h2.edit-modal-form-heading {
  margin-bottom: 10px;
  color: var(--text-main);
  font: 36px 'Poppins', sans-serif;
}

.edit-modal form.edit-modal-form .edit-modal-input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.edit-modal form.edit-modal-form .edit-modal-input-field label {
  color: var(--input-labels);
  font: 10px 'Roboto', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.edit-modal form.edit-modal-form .edit-modal-input-field input[type="text"] {
  width: 100%;
  font: 16px 'Poppins', sans-serif;
  padding: 10px;
}

.edit-modal form.edit-modal-form .edit-input-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: flex;
  gap: 5px;
}

.edit-modal form.edit-modal-form .edit-input-btn button, .edit-modal form.edit-modal-form .edit-input-btn input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  font: 14px 'Poppins', sans-serif;
  border: none;
  cursor: pointer;
}

.edit-modal form.edit-modal-form .edit-input-btn button[type="button"] {
  background: var(--error-tint);
  color: var(--white-tint);
}

.edit-modal form.edit-modal-form .edit-input-btn input[type="submit"] {
  background: var(--main);
}

.edit-modal form.edit-modal-form .input-field-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.edit-modal form.edit-modal-form .input-field-name .edit-modal-input-field {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
/*# sourceMappingURL=users.css.map */