main.main-body {
    position: relative;

    // sidebar containing links to other pages in admin dashboard
    .sidebar {
        position: fixed;
        width: 75px;
        height: 100vh;
        border-right: 1px solid var(--form-element-border);
        background: var(--white-tint);
        z-index: 10;

        // used a flex display to style 2 child elements
        .sidebar-container {
            padding: 20px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            gap: 15px;

            .sidebar-container-links,
            .sidebar-container-settings {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;
                gap: 15px;
                font-size: 20px;
                color: var(--text-main);

                a {

                    ion-icon {
                        // animation speed
                        transition: .2s;
                    }

                    ion-icon:hover {
                        color: var(--trans-main);
                    }
                }
            }
        }
    }

    .content {
        margin-left: 100px;
        padding: 25px;
        position: relative;
    }
}