@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap");

:root {
    --main: #68fef5;
    --text-main: #333;
    --form-element-border: #dcdcdc;
    --input-labels: #333;
    --white-tint: #fff;
    --dirty-white: #fdfdfd;
    --body-shade: #f5f5f5;
    --feed-write-heading: #a1a1a1;
    --topic-fg: #333;
    --modal-bg: rgba(0, 0, 0, 0.3);
    --thumbnail-bg: #fafafa;
    --error-tint: #ee5757;
    --box-shadow: 2px 2px 5px rgb(211, 211, 211);
    --draft-btn: #eeeeee;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: var(--body-shade);
}

button,
input,
select,
textarea {
    border: 1px solid var(--form-element-border);
    outline: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

input[type="submit"] {
    cursor: pointer;
}

img {
    -webkit-user-drag: none;
}

textarea {
    resize: none;
}
