@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap");

:root {
    --main: #68fef5;
    --trans-main: #34f8eb;
    --sub-main: #6bd5ed;
    --text-main: #333;
    --par-main: #797979;
    --faded-black-tint: rgba(0, 0, 0, 0.2);
    --form-element-border: #dcdcdc;
    --input-labels: #333;
    --white-tint: #fff;
    --dirty-white: #fdfdfd;
    --body-shade: #fdfdfd;
    --feed-write-heading: #a1a1a1;
    --topic-fg: #333;
    --modal-bg: rgba(0, 0, 0, 0.3);
    --thumbnail-bg: #fafafa;
    --error-tint: #ee5757;
    --box-shadow: 2px 2px 5px var(--faded-black-tint);
    --main-box-shadow: 2px 2px 3px var(--main);
    --draft-btn: #eeeeee;
    --img-bg: #333;
    --note-colour: #dcdcdc;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: var(--body-shade);
}

button,
input,
select,
textarea {
    border: 1px solid var(--form-element-border);
    outline: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

input[type="submit"] {
    cursor: pointer;
}

img {
    -webkit-user-drag: none;
}

textarea {
    resize: none;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}