section.reports {
    width: 100%;
    height: fit-content;
    margin-bottom: 35px;

    .reports-heading-text {

        h2.reports-heading {
            font: 60px 'Poppins', sans-serif;
            color: var(--text-main);
        }

        p.reports-text {
            font: 18px 'Montserrat', sans-serif;
            color: var(--par-main);
            line-height: 1.5;
            margin-bottom: 20px;
        }
    }
}